.more {
    min-height: 166px;
    display: flex;
    margin-top: 28px;
}

.more__button {
    margin: auto;
    width: 320px;
    height: 36px;
    border: 1px solid #E8E8E8;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
}